body{
    margin: 0;
}

.editor-container-open{
    margin-left: 400px;
}

.editor-container-close{
    margin-left: 0;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item{
    display: block;
    color: white;
    float: left;
    padding: 14px 16px;
}

.navbar-item:hover{
    background-color: #111;
    cursor: pointer;
}

.component{
    width: 50%;
    display: inline-block;
    Vertical-Align: top;
    padding: 0;
    
}